/* CSS files add styling rules to your content */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  font-family: Roboto, sans-serif;
  font-size: 100%;
  margin: 2em auto 2em auto;
  background: rgb(245, 240, 245);
  width: min(80%, 800px);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

button {
  border: 1px solid;
  border-radius: 5px;
  margin: 5px;
  height: 50px;
  color: blue;
  font-size: 100%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 255, 0.1);
}

p{
  font-family: Open sans;
  
}
.container {
  display: flex;
  justify-content: center;
}

#courses,
#form,
#contacts {
/*   visibility: hidden; */
  display: none;
  margin-bottom: 5vh;
  padding: 10px;
  position: absolute;
  top: 200px;
  color: blue;
  width: min(68%, 680px);
  border: 1px solid;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 255, 0.1);
}

#kodiia {
  margin-bottom: 10vh;
  padding: 10px;
  position: absolute;
  top: 200px;
  color: blue;
  width: min(68%, 680px);
  border: 1px solid;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1em 1em 1em rgba(0, 0, 255, 0.1);
}

.formMail {
  margin-top: 1rem;
  padding: 5px;
  width: 95%;
  height: 1rem;
  border: 1px;
  border-style: solid;
  border-color: blue;
  border-radius: 5px;
  color: blue;
  font-size: 0.9rem;
  background: rgba(250, 250, 250, 0);
}

.formMessage {
  margin: 1rem auto 0 auto;
  padding: 5px;
  width: 95%;
  height: 35vh;
  border: 1px;
  border-style: solid;
  border-color: blue;
  border-radius: 5px;
  color: blue;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  background: rgba(250, 250, 250, 0);
}

a{
  text-decoration: none;
  color: blue;
}
#submit{
  width: 95%;
}

h1 {
}
